table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  tr {
    &:hover {
      td {
        background: #f9f9f9;
      }
    }
  }

  th {
    background-color: #c0c0c0;
    color: #fff;
    font-weight: 500;
    padding: 12px;
  }

  td {
    padding: 12px;
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
    transition: 0.3s ease;
  }
}