.banner__wrapper {
  margin-block: 3rem;

  .banner {
    padding: 1.6rem 19rem;

    .text {
      color: #FFF;
      font-family: "FS PF BeauSans Pro";
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}