@if (isLoading) {
<app-loader></app-loader>
}

<app-section>
  <div class="grid layout">
    <div class="row">
      <div class="col l-4 m-4 c-0">
        <app-user-sidebar [user]="user"></app-user-sidebar>
      </div>
      <div class="col l-8 m-8 c-12">
        <div class="border-1 border-solid border-gray rounded-xl">
          <form
            action="#"
            class="form p-2"
            [formGroup]="forgotPasswordForm"
            (submit)="onSubmit()"
          >
            <div class="form__header mb-2">
              <h3 class="form__title text-2xl fw-bold">Forgot Password</h3>
            </div>
            <div class="form__group flex flex-col gap-1">
              <input
                type="email"
                id="email"
                class="form__input"
                placeholder="Enter your email"
                formControlName="email"
                name="email"
                required
              />
              @if (forgotPasswordForm.controls['email'].invalid &&
              (forgotPasswordForm.controls['email'].touched ||
              forgotPasswordForm.controls['email'].dirty)) {
              <div class="text-xl text-danger">
                @if (forgotPasswordForm.controls['email'].errors?.['required'])
                {
                <span>Enter your email to reset your password</span>
                } @if (forgotPasswordForm.controls['email'].errors?.['email']) {
                <span>Email is invalid</span>
                }
              </div>
              }
              <small class="text-xl text-secondary"
                >Enter your account email, we will send you an email to reset
                your password
              </small>
            </div>
            <div class="form__group mt-2">
              <button
                type="submit"
                class="btn btn-primary medium rounded-full text-white flex gap-1 items-center justify-center"
              >
                @if (isLoading) {
                <i class="pi pi-spin pi-spinner"></i>
                Sending... } @else {
                <i class="pi pi-envelope"></i>
                Send Email }
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</app-section>
