<footer class="footer grid">
  <div class="row">
    <div class="col l-4 m-4 c-12">
      <div class="col__inner">
        <div class="logo">
          <img src="../../../assets/images/Shoesx.svg" alt="Shoesx Logo" />
        </div>
        <p class="text-xl mt-2 mb-2">
          Shoesx - Shoes Stylish & Fashionable Shoes
          <br />
          Online shoes store
        </p>

        <div class="flex gap-1 items-center">
          <button class="btn-primary icon-btn large text-white">
            <i class="pi pi-facebook"></i>
          </button>
          <button class="btn-primary icon-btn large text-white">
            <i class="pi pi-instagram"></i>
          </button>
          <button class="btn-primary icon-btn large text-white">
            <i class="pi pi-linkedin"></i>
          </button>
          <button class="btn-primary icon-btn large text-white">
            <i class="pi pi-twitter"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col l-8 m-8 c-12 grid">
      <div class="col__inner">
        <div class="row justify-end">
          <div class="col l-4 m-6 c-12 flex-important justify-end">
            <div class="col__inner w-fit">
              <h4>Categories</h4>
              <ul>
                <li><a href="">Men</a></li>
                <li><a href="">Kids</a></li>
                <li><a href="">Women</a></li>
              </ul>
            </div>
          </div>
          <div class="col l-4 m-6 c-12 flex-important justify-end">
            <div class="col__inner w-fit">
              <h4>Get Helps</h4>
              <ul>
                <li><a href="">FAQ</a></li>
                <li><a href="" class="capitalize">Contact us</a></li>
                <li><a href="" class="capitalize">Return policy</a></li>
                <li><a href="" class="capitalize">privacy policy</a></li>
                <li><a href="" class="capitalize">payment policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col l-4 m-6 c-12 flex-important justify-end">
            <div class="col__inner w-fit">
              <h4>Categories</h4>
              <ul>
                <li><a href="" class="capitalize">News</a></li>
                <li><a href="" class="capitalize">Service</a></li>
                <li><a href="" class="capitalize">Our Policy</a></li>
                <li><a href="" class="capitalize">Customer care</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer><i class="pi pi-copyright"></i></footer>
