<div class="flex items-center justify-between section">
  <h2 class="shop-title uppercase fw-bold text-primary">Shop</h2>
  <div class="flex items-center gap-2">
    <button
      class="btn-transparent flex items-center gap-1"
      (click)="toggleFilterBar()"
    >
      <span class="text-2xl">Hide Filter</span
      ><i class="pi pi-sliders-h text-3xl"></i>
    </button>

    <div class="override-p-dropdown">
      <p-dropdown
        [options]="options"
        [(ngModel)]="selectedOption"
        optionLabel="name"
        placeholder="Sort By"
        [checkmark]="true"
        [showClear]="true"
        styleClass="p-dropdown"
      />
    </div>
  </div>
</div>
