<header class="header flex justify-center items-center">
  <div class="header__inner flex-1 w-full flex justify-between items-center">
    <nav class="nav--left flex justify-center gap-3" style="gap: 60px">
      <button
        class="btn-transparent flex items-center text-primary"
        (click)="openSidebar()"
      >
        <img src="assets/images/menu.svg" alt="menu" />
        <span class="show-in-large-desktop">Menu</span>
      </button>
      <ul
        class="flex gap-3 items-center show-in-large-desktop"
        style="gap: 34px"
      >
        <li>
          <a routerLink="/shop" class="text-primary">Shop</a>
        </li>
      </ul>
    </nav>
    <div class="logo">
      <a routerLink="/home">
        <img src="assets/images/Shoesx.svg" alt="logo" />
      </a>
    </div>
    <nav class="nav--right flex flex-center" style="gap: 60px">
      @if (hasUser){
      <button
        class="icon-btn user-btn rounded-full text-primary flex flex-center p-1 por"
        style="border: 1px solid #000220"
        (click)="toggleUserWidget()"
      >
        <i class="pi pi-user"></i>

        <nav
          class="poa user-widget"
          [ngClass]="isOpenUserWidget ? 'show' : ''"
          (click)="$event.stopPropagation()"
        >
          <ul>
            <li>
              <a [routerLink]="['/user/profile/', user._id]" class="text-2xl">My Account</a>
            </li>
            <li>
              <a [routerLink]="['/user/orders/', user._id]" class="text-2xl">My Orders</a>
            </li>
            <li>
              <a class="text-2xl" (click)="logout()">Log out</a>
            </li>
          </ul>
        </nav>
      </button>
      } @else {
      <ul
        class="flex flex-center show-in-large-desktop guess-widget"
        style="gap: 30px"
      >
        <li>
          <a (click)="openSignUp()" class="text-primary">Sign Up</a>
        </li>
        |
        <li>
          <a (click)="openLogin()" class="text-primary">Log In</a>
        </li>
      </ul>
      }

      <button
        class="btn-primary flex-center rounded-full cart-btn por"
        style="aspect-ratio: 1"
        (click)="openCart()"
        [style]="{ width: '38px', height: '38px' }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <g clip-path="url(#clip0_7_46)">
            <path
              d="M7.50002 18.3333C7.96026 18.3333 8.33335 17.9602 8.33335 17.5C8.33335 17.0398 7.96026 16.6667 7.50002 16.6667C7.03978 16.6667 6.66669 17.0398 6.66669 17.5C6.66669 17.9602 7.03978 18.3333 7.50002 18.3333Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M16.6666 18.3333C17.1269 18.3333 17.5 17.9602 17.5 17.5C17.5 17.0398 17.1269 16.6667 16.6666 16.6667C16.2064 16.6667 15.8333 17.0398 15.8333 17.5C15.8333 17.9602 16.2064 18.3333 16.6666 18.3333Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M0.833313 0.833328H4.16665L6.39998 11.9917C6.47618 12.3753 6.6849 12.72 6.9896 12.9652C7.2943 13.2105 7.67556 13.3408 8.06665 13.3333H16.1666C16.5577 13.3408 16.939 13.2105 17.2437 12.9652C17.5484 12.72 17.7571 12.3753 17.8333 11.9917L19.1666 5H4.99998"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
          <defs>
            <clipPath id="clip0_7_46">
              <rect width="20" height="20" fill="white" />
            </clipPath>
          </defs>
        </svg>
        @if (cartProducts.length > 0) {
        <span
          class="cart-count rounded-full primary-text poa"
          style="
            right: -10px;
            top: -10px;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            line-height: 1;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          "
          >{{ cartProducts.length }}</span
        >
        }
      </button>
    </nav>
  </div>
</header>

<app-sidebar
  [isOpen]="isOpenSidebar"
  (close)="closeSidebar()"
  [isOpenSearchBox]="isOpenSearchBox"
  (openSearchBox)="openSearchBox()"
></app-sidebar>

<app-cart [isOpen]="isOpenCart" (close)="closeCart()"></app-cart>

<app-search-box
  [isOpen]="isOpenSearchBox"
  (close)="closeSearchBox()"
></app-search-box>

<app-signup
  (switch)="switchSignUpLogin()"
  [isOpen]="isOpenSignUp"
  (close)="closeSignUp()"
></app-signup>

<app-login
  (switch)="switchSignUpLogin()"
  [isOpen]="isOpenLogin"
  (close)="closeLogin()"
  (emitHasUser)="emitHasUser($event)"
></app-login>
