@if (isLoading) {
<app-loader></app-loader>
}

<div
  class="form__overlay flex flex-center fixed-full fixed bg-overlay"
  [ngClass]="isOpen ? 'active' : ''"
  (click)="closeSignup()"
>
  <div class="form__container grid por" (click)="$event.stopPropagation()">
    <button
      class="icon-btn large poa text-tertiary"
      style="top: 12px; right: 12px"
      (click)="closeSignup()"
    >
      <i class="pi pi-times"></i>
    </button>
    <div class="row no-gutters shadow-lg bg-white items-center">
      <div
        class="col l-6 m-6 c-0 form__background banner por h-full"
        style="padding-bottom: 70.56%"
      >
        <div
          class="banner__cover poa abs-full"
          style="
            background-image: url('../../../assets/images/signupbanner\ 1.svg');
          "
        ></div>
      </div>
      <div class="col l-6 m-6 c-12 flex flex-center h-fit">
        <form
          action="#"
          class="form sign-up__form flex flex-col gap-2 p-3"
          (submit)="onSubmit($event)"
          [formGroup]="signUpForm"
        >
          <div class="flex flex-col">
            <h2 class="text-4xl fw-bold" style="color: #1d56ff">Sign up</h2>
            <small class="text-tertiary mt-1"
              >Create your account to explore more!</small
            >
          </div>
          <div class="form__group flex flex-col gap-1">
            <input
              type="text"
              class="form__input"
              placeholder="Name"
              formControlName="name"
              name="name"
            />
            @if (signUpForm.controls['name'].invalid &&
            (signUpForm.controls['name'].dirty ||
            signUpForm.controls['name'].touched)) {
            <div class="form__message text-danger text-xl">
              @if (signUpForm.controls['name'].errors?.['required']) {
              <span>Name is required</span>
              } @else if (signUpForm.controls['name'].errors?.['minLength']) {
              <span>Name have at least 3 characters</span>
              } @else if (signUpForm.controls['name'].errors?.['maxLength']) {
              <span>Name can have maximum of 32 characters</span>
              }
            </div>
            }
          </div>
          <div class="form__group flex flex-col gap-1">
            <input
              type="text"
              class="form__input"
              placeholder="Email"
              formControlName="email"
            />
            @if (signUpForm.controls['email'].invalid &&
            (signUpForm.controls['email'].dirty ||
            signUpForm.controls['email'].touched)) {
            <div class="form__message text-danger text-xl">
              @if (signUpForm.controls['email'].errors?.['required']) {
              <span>Email is required</span>
              } @else if (signUpForm.controls['email'].errors?.['email']) {
              <span>Email is invalid</span>
              }
            </div>
            }
          </div>
          <div class="form__group flex flex-col gap-1">
            <input
              type="password"
              class="form__input"
              placeholder="Password"
              formControlName="password"
            />
            @if (signUpForm.controls['password'].invalid &&
            (signUpForm.controls['password'].dirty ||
            signUpForm.controls['password'].touched)) {
            <div class="form__message text-danger text-xl">
              @if (signUpForm.controls['password'].errors?.['required']) {
              <span>Password is required</span>
              } @else if (signUpForm.controls['password'].errors?.['minLength'])
              {
              <span>Password has at least 8 characters</span>
              } @else if (signUpForm.controls['password'].errors?.['maxLength'])
              {
              <span>Password can only has maximum of 32 characters</span>
              } @else if (signUpForm.controls['password'].errors?.['pattern']) {
              <span
                >Password must contain at least one uppercase, one lowercase,
                one digit, 8 characters</span
              >
              }
            </div>
            }
          </div>
          <div class="form__group flex flex-col gap-1">
            <input
              type="text"
              class="form__input"
              placeholder="Phone"
              formControlName="phone"
            />
            <div
              *ngIf="
                signUpForm.controls['phone'].invalid &&
                (signUpForm.controls['phone'].dirty ||
                  signUpForm.controls['phone'].touched)
              "
              class="text-danger text-xl"
            >
              <span *ngIf="signUpForm.controls['phone'].hasError('required')"
                >Phone is required.</span
              >
              <div *ngIf="signUpForm.controls['phone'].hasError('pattern')">
                <span>Phone number is invalid</span>
              </div>
            </div>
          </div>
          <small class="text-xl">
            <span>Already have an account?</span>
            <a
              style="color: #1d56ff"
              class="underline"
              (click)="switchSignupLogin()"
            >
              Log In</a
            >
            here
          </small>
          @if (formMessage && formMessage.type === 'error') {
          <small class="text-xl text-danger form-message">{{
            formMessage.message
          }}</small>
          } @else if (formMessage && formMessage.type === 'success') {
          <small class="text-xl text-success form-message">{{
            formMessage.message
          }}</small>
          }
          <button
            type="submit"
            class="btn btn-primary rounded-xl large text-white"
            style="background-color: #1d56ff"
            [disabled]="signUpForm.invalid"
          >
            Create now
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
