@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rightSlideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes leftSlideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes leftSlideOut {
  from {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes bottomSlideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideTopIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}